<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Página home!</h1>
    <form action="/api/users" class="formulario-contacto" method="post">
        <input type="text" placeholder="nombre" name="name">
        <input type="text" placeholder="edad" name="age">
        <input type="email" placeholder="email" name="email">
        <input type="text" placeholder="image" name="image">
        <input type="submit" value="Añadir personaje">
    </form>
    <hr>
    <div id="characters">


        <% if(users.length==0) { %>
            <p>No hay usuarios</p>
            <% } %>
                <% users.map(user=> { %>
                    <div class="card">
                        <span class="wanted">Wanted</span>
                        <div class="img">
                            <img src="<%=user.image%>" alt="<%=user.name%> image">
                        </div>
                        <span>DEAD OR ALIVE</span>
                        <span class="name">
                            <%= user.name%>
                        </span>
                        <span class="bounty">
                            <%= user.age%>
                        </span>
                        <span class="description">
                            <%= user.email%>
                        </span>
                        <span><a href="/api/users/<%=user._id%>">X</a></span>
                    </div>

                    <% }) %>
    </div>
</body>

</html>